.nested-dropdown {
  text-align: left;
  padding: 7px;
  background: #fafafa;
  /* max-height: 350px;
  overflow-y: scroll; */
  width: 92%;
  position: absolute;
  padding-top: 0px;box-shadow:0px 2px 2px rgba(0,0,0,.25)
}

.scrollOption {
  margin-top: 10px;overflow: auto;height:70vh
}

.blue-btn {
  background-color: #29a84a;
  color: #fff;
  cursor: text !important;
  font-size: .9rem;
  padding: 5px;
  margin-right: 10px;
  border-radius: 2px;
  letter-spacing: .5px;position: relative;cursor: pointer!important;
}

.red-btn {
  background-color: #ED1C24;
  color: #fff;
  cursor: text !important;
  padding: 5px;
  font-size: .9rem;
  border-radius: 2px;
  letter-spacing: .5px;position: relative;cursor: pointer!important;
}

.fixOption {
  position: relative;
  z-index: 1;
  padding-left: 0px;left:0px;right:0px;
}

input.form-control {
  display: block;
  width: 94%;
  padding: .35rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #74788d;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-top: 5px;
  -webkit-appearance: none;
  background: none;
  font-family: 'Muli', Roboto !important;
}

.form-control:focus {
  color: #505050;
  background-color: transparent;
  border-color: #C5C5C5;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

option {
  padding: 10px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 100%;
  background: transparent;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #fff;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.drop-back{
  z-index: 9;
  width: 100%;
  padding: 10px 0;
}
.drop-back > p{
  cursor: pointer;
}
option{padding: 10px;}

.dropdown-open{background-color: #323232}
.dropdown-toggle{background-color: #454545}
.dropdown-open li{border-bottom: 1px solid #808080;font-size: .7rem;position: relative;}
.dropdown-open li:last-child{border-bottom: 0px solid #808080;}
.dropdown.show{border-bottom: 1px solid #373737}
.form-check{margin-left: 5px;}
.fa{}


.form-control.hand-pointer[_ngcontent-ssj-c8] {
  text-align: left;
  width: 120px;
  border-radius: 2px;
  padding: 4px;
  margin-top: 0px;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  color: #323232;
  /* background: #525252; */
}
  .nested-dropdown{position: absolute;top:35px;width:150px;}
  .font-sm{font-size: .85rem!important}

  .border-bottom{border-bottom: 1px solid #808080!important}

  .brandsList{width:300px!important;}

  .fa.fa-check,.fa.fa-times{position: relative;right:auto;top:auto}

.shake-label{
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;

}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shaking {
  perspective: 1000px;color:#ff8084;padding: 3px;border-radius: 2px;font-size:12px;
}

.filterPanel .form-control{width:100%!important;padding:5px!important;cursor: pointer;}
.filterPanel  .brandsList{width:100%!important;}
.filterPanel .scrollOption {
  margin-top: 10px;overflow: auto;height:initial!important;margin-bottom: 30px!important
}
.filterPanel .nested-dropdown{
  position: absolute;
  top: 32px;
  width: 150px;
  z-index: 9;right:0px;max-height: 75vh;overflow: auto;
}

.filterPanel .fixOption .form-control{width:100%!important}

.filterPanel.brandSelector .scrollOption{height:65vh!important;}

.filterPanel.brandSelector > .form-control{background-color: #29a84a!important;border-color: #29a84a;color:#fff!important}

.filterPanel.brandSelector .nested-dropdown{right:0px;}

.retailerSelector.filterPanel .nested-dropdown{right:0px;top:31px}
.retailerSelector.filterPanel .scrollOption{height:53vh!important}

.fa.fa-angle-down{color:#a1a1a1;top:10px;position: absolute;right:8px;top:9px;}

