<div class="card m-0 align-items-center h-100 w-100">
  <!-- <div *ngIf="showLoader" class="overlay">
    <div class="overlay__inner">
      <div class="overlay__content"><span class="spinner"></span></div>
    </div>
  </div> -->
  <div *ngIf="showHeader" title="{{chart.Name}}" class="card-header text-truncate">
    {{chart.Name}}
  </div>
  <div *ngIf="!nodata && !isKPI" class="card-body p-0 m-0 pos-rel">
    <app-chart [chartProvider]="provider" [configSubject]="chartSubject" (chartClicked)="onChartClicked($event)"
      (nodeClicked)="onNodeClicked($event)"></app-chart>
  </div>
  <div *ngIf="isKPI">
    <app-kpi-chart [configSubject]="chartSubject" (click)="onChartClicked($event)"></app-kpi-chart>
  </div>
  <div *ngIf="nodata" class="alert-msg">
    No Data Present.
  </div>
</div>