.widget-height
    height: 300px

.topLocation
   border-color: #fafafa!important

.topLocation .card-title
   background-color: #fafafa!important

.bottomLocation
   border-color: #fafafa!important

.bottomLocation .card-title
   background-color: #fafafa!important

.topPSM
   border-color: #fafafa!important

.topPSM .card-title
   background-color: #fafafa!important

.bottomPSM
   border-color: #fafafa!important

.bottomPSM .card-title
   background-color: #fafafa!important

.topLocation table , .bottomLocation table , .topPSM table , .bottomPSM table 
   table-layout: fixed

.topLocation td , .bottomLocation td , .topPSM td , .bottomPSM td 
   text-align: left
   padding-left: 3px

.table th
  padding: .5rem!important
  padding-left: 0px!important

.table .thead-light th 
   color: #003772
   background-color: #fff
   border-color: #fafafa

table td 
     border: 0px solid #f2f2f2 !important
     vertical-align: middle

table tr
 border-bottom: 1px dashed #e4e4e4

table tr:last-child
  border: 0px!important

    

   
